@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/chocolatebox");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Poppins", Arial, sans-serif;
  color: #ffff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.menu-open {
  overflow: hidden;
}

.container {
  width: min(1120px, 100%);
  padding: 0 20px;
  margin: 0 auto;
}

.custom-font {
  font-family: "ChocolateBox", Arial, sans-serif;
}

a:hover {
  color: #e2b024;
}

.custom-link {
  border-bottom: 1px solid #0000;
  transition: 100ms all;
  cursor: pointer;
}

.custom-link.active {
  border-color: #e2b024;
}

.custom-link:hover {
  border-color: #e2b024;
}

.custom-button {
  border: 1px solid #e2b024;
  background-color: transparent;
  color: #ffff;
  padding: 12px 35px;
  transition: 100ms all;
}

.custom-button:hover {
  background-color: #e2b024;
  color: #000;
}
